.contacts {
  padding: 0;
  position: relative;
  height: 780px;

  &__card {
    position: relative;
    top: 150px;
    left: 0;
    z-index: 2;
    width: 480px;
    height: 480px;
    border-radius: 15px;
    background-color: rgb(18, 18, 18, 0.6);
    backdrop-filter: blur(15px);

    @include tablet {
      margin-left: auto;
      top: 130px;
    }

    @include mobile {
      width: 100%;
      height: 320px;
    }
  }

  &__logo {
    position: absolute;
    top: 70px;
    left: 70px;

    @include mobile {
      top: 30px;
      left: 30px;
    }
  }

  &__list {
    position: absolute;
    top: 130px;
    left: 105px;

    &-item {
      margin-bottom: 20px;
      position: relative;

      &::before {
        position: absolute;
        display: block;
        left: -35px;
      }

      &_address {
        &::before {
          content: "";
          width: 17px;
          height: 22px;
          bottom: 7px;
          background: url("../img/iconGeo.svg") no-repeat;
          background-size: cover;

          @include mobile {
            width: 17px;
            height: 20px;
          }
        }
      }

      &_phone {
        &::before {
          content: "";
          width: 18px;
          height: 18px;
          top: 50%;
          transform: translateY(-50%);
          background: url("../img/iconPhone.svg") no-repeat;
          background-size: cover;

          @include mobile {
            width: 16px;
            height: 16px;
          }
        }
      }

      &_mail {
        &::before {
          content: "";
          top: 50%;
          transform: translateY(-50%);
          width: 17px;
          height: 13px;
          background: url("../img/iconMail.svg") no-repeat;
          background-size: cover;

          @include mobile {
            width: 15px;
            height: 12px;
          }
        }
      }

      &_time {
        &::before {
          content: "";
          width: 18px;
          height: 18px;
          top: 1px;
          background: url("../img/iconTime.svg") no-repeat;
          background-size: cover;

          @include mobile {
            width: 16px;
            height: 16px;
          }
        }
      }

      @include mobile {
        margin-bottom: 13px;
      }
    }

    @include mobile {
      top: 80px;
      left: 60px;
    }
  }

  &__social {
    position: absolute;
    right: 70px;
    bottom: 70px;

    &-icon {
      &_VK {
        margin-right: 20px;
        width: 20px;
        height: 11px;

        @include mobile {
          margin-right: 15px;
          width: 16px;
          height: 9px;
        }
      }

      &_IG {
        margin-right: 20px;
        width: 17px;
        height: 17px;

        @include mobile {
          margin-right: 15px;
          width: 14px;
          height: 14px;
        }
      }

      &_FB {
        width: 9px;
        height: 17px;

        @include mobile {
          width: 7px;
          height: 14px;
        }
      }
    }

    @include mobile {
      right: 30px;
      bottom: 30px;
    }
  }
}