.gallery {
  background-color: $dark-bg;

  &__wrapper {
    position: relative;
    min-height: 504px;
  }

  &__swiper {
    margin: 0 auto;
    height: 426px;
    width: 100%;
  }

  &__slide {
    height: 50% !important;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @include mobile {
      height: 100% !important;
    }
  }

  &__nav-wrap {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    max-height: 16px;
  }

  &__btn-prev {
    position: relative;
    width: 23px;
    height: 16px;

    &::before {
      top: 50%;
      margin-top: -8px;
      left: -48px;
    }
  }

  &__btn-next {
    position: relative;
    width: 23px;
    height: 16px;

    &::before {
      top: 50%;
      margin-top: -8px;
      right: -48px;
   }
  }

  &__fraction {
    line-height: 1;
    width: auto !important;

    .swiper-pagination-current {
      margin-right: 10px;
      color: $accent;
      font-weight: 500;
    }

    .frac-slash {
      position: relative;
      color: $light-grey;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 2px;
        background-color: $light-grey;
        height: 16px;
      }
    }

    .swiper-pagination-total {
      margin-left: 10px;
      color: $light-grey;
    }
  }
}