.header {
  display: flex;
  align-items: center;
  padding: 25px 0;

  &__logo {
    @include tablet {
      margin-right: auto;
    }
  }

  @include small-tablet {
    padding: 18px 0;
  }

  &__nav {
    margin: 0 auto;
  }

  &__menu {

    &-item {
      font-weight: 500;

      &:not(:last-child) {
        margin-right: 40px;
      }
    }

    @include tablet {
      display: none;
    }

    @include small-tablet {
      display: none;
    }
  }


  &__phone-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @include mobile {
      display: none;
    }
  }

  &__link-callback {
    margin-top: 5px;
    position: relative;
    font-size: 12px;
    color: #fff;

    &::after {
      margin-top: 3px;
      position: absolute;
      content: "";
      display: block;
      left: 0;
      width: 0;
      height: 1px;
      background-color: $accent;
      transition: width .3s ease-out;
    }

    &:hover {

      &::after {
        width: 100%;

        @include tablet {
          width: 0;
        }
      }
    }
  }

  &__burger-wrapper {
    width: 20px;
    height: 14px;
    align-self: self-start;
    display: none;

    @include mobile {
      display: block;
    }
  }

  &__icon-burger {
    width: 100%;
    height: 100%;
    stroke: rgba(255, 255, 255, 0.9);
  }

  .burger {
    padding: 15px 15px 0;
    position: fixed;
    z-index: 10;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 530px;
    background: $grey-bg;
    transform: translateX(-100%);
    transition: transform 0.3s;

    &_active {
      transform: translateX(0);
    }

    &__header-wrap {
      display: flex;
      justify-content: space-between;
    }

    &__logo {
      line-height: 1;
    }

    &__close-wrapper {
      width: 16px;
      height: 16px;
    }

    &__icon-cross {
      fill: #fff;
      height: 100%;
      width: 100%;
    }

    &__menu {
      flex-direction: column;
      align-items: center;
      margin: 105px 0 80px;

      &-item {
        font-weight: 500;

        &:not(:last-child) {
          margin-bottom: 15px;
        }
      }
    }

    &__phone-stroke {
      margin-bottom: 35px;
      padding: 15px 0;
      width: 100%;
      font-size: 14px;
      font-weight: 700;
      color: $accent;
      border-radius: 6px;
      border: 2px solid $accent;
      text-align: center;
    }

    &__social {
      margin-bottom: 70px;
      justify-content: center;

      &-icon {
        &_VK {
          margin-right: 15px;
          width: 19px;
          height: 10px;
        }

        &_IG {
          margin-right: 15px;
          width: 15px;
          height: 15px;
        }

        &_FB {
          width: 9px;
          height: 17px;
        }
      }
    }
  }
}