.logo {
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;

  @include tablet {
    font-size: 18px;
  }

  @include mobile {
    font-size: 16px;
  }
}