.work {
  background-color: $grey-bg;

  &__steps {
    grid-column: 3/10;
    display: grid;
    grid-template: repeat(2, auto) / repeat(2, 370px);
    gap: 120px;

    &-item {
      display: flex;
      align-items: center;

      @include mobile-xs {
        margin: 0 auto;
        flex-direction: column;
      }
    }

    &-title {
      margin-bottom: 12px;
      font-size: 18px;
      font-weight: 500;

      @include tablet {
        max-width: 220px;
      }

      @include mobile-xs {
        margin-bottom: 10px;
        font-size: 16px;
        max-width: 100%;
      }
    }

    &-text {
      @include tablet {
        max-width: 200px;
      }
    }

    @include tablet {
      grid-column: span 6;
      grid-template-columns: repeat(2, auto);
      gap: 60px;
    }

    @include mobile-xs {
      grid-column: span 4;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(4, auto);
      gap: 30px 0;
    }

    &-img {
      margin-right: 30px;

      @include tablet {
        width: 75px;
      }

      @include mobile-xs {
        margin-bottom: 20px;
      }

      @include mobile-xs {
        margin: 0 0 25px 0;
        width: 65px;
      }
    }
  }

  &__item-content {

    @include mobile-xs {
      text-align: center;
    }
  }
}