/* Reset and base styles  */
* {
  padding: 0;
  margin: 0;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links tags */

a {
  cursor: pointer;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Base structure */
body {
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  /* Disable "jumping" numbers in the font */
  font-variant-numeric: lining-nums;
  font-feature-settings: 'lnum';

  @include mobile-s {
    font-size: 15px;
  }
}

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.img-preloader {
  height: 40px;
}

/* Base classes */
.no-scroll {
  overflow: hidden;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-row-gap: 20px;
  grid-column-gap: 0;

  @include tablet {
    grid-template-columns: repeat(6, 1fr);
  }

  @include mobile-m {
    grid-template-columns: repeat(4, 1fr);
  }
}

.swiper {
  &-wrapper {
    box-sizing: content-box;
  }
}

.container {
  margin: 0 auto;
  padding: 0 $container-offset;
  max-width: $container-width;

  @include tablet {
    padding: 0 $container-tab-offset;
  }
}

.section {
  padding: 150px 0;

  @include tablet {
    padding: 130px 0;
  }

  @include mobile-m {
    padding: 90px 0;
  }
}

.title {
  margin-bottom: 15px;
  font-family: "Merriweather", serif;
  font-size: 35px;
  font-weight: 700;
  text-align: center;

  @include tablet {
    margin-bottom: 20px;
    font-size: 30px;
  }

  @include mobile-s {
    margin-bottom: 10px;
    font-size: 20px;
  }
}

.subtitle {
  margin-bottom: 80px;
  font-size: 24px;
  font-weight: 500;
  text-align: center;

  @include tablet {
    font-size: 20px;
    margin-bottom: 65px;
  }

  @include mobile-s {
    margin: 0 auto 40px;
    font-size: 16px;
    max-width: 160px;
  }
}

.hidden-subtitle {
  display: none;
}

.glass-card {
  border-radius: 6px;
  background-color: rgba(68, 76, 82, 0.5);
  backdrop-filter: blur(10px);
}

.accent-num {
  color: $accent;
  font-family: "Merriweather", serif;
  font-size: 48px;
  font-weight: 700;
}

.social {
  display: flex;
  align-items: center;

  &-icon {
    display: block;
    fill: rgba(255, 255, 255, 0.8);

    &_VK {
      &:hover {
        fill: $social-hover;
        stroke: $social-hover;
      }

      &:active {
        fill: $social-active;
        stroke: $social-active;
      }
    }

    &_IG {
      &:hover {
        fill: $social-hover;
      }

      &:active {
        fill: $social-active;
      }
    }

    &_FB {
      &:hover {
        fill: $social-hover;
      }

      &:active {
        fill: $social-active;
      }
    }
  }
}


/* Links */

.secondary-link {
  position: relative;
  color: $secondary;
  font-size: 12px;
  line-height: 1.3;

  &::after {
    margin-top: 3px;
    content: "";
    position: absolute;
    display: block;
    left: 0;
    width: 0;
    height: 1px;
    background: $secondary;
    transition: width .3s ease-out;
  }

  &:hover {
    &::after {
      width: 100%;

      @include tablet {
        width: 0;
      }
    }
  }
}

.read-more {
  position: relative;
  display: none;
  font-size: 12px;
  color: #fff;

  &::after {
    position: absolute;
    content: "";
    background: url("../img/iconArrowDown.svg") no-repeat;
    background-size: cover;
    width: 12px;
    height: 6px;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
  }

  &_up {
    &::after {
      top: 3px;
      transform: rotate(180deg);
    }
  }

  @include mobile-m {
    display: block;
  }
}

/* Map */

.map {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

[class*="ground-pane"] {
  filter: grayscale(1) brightness(90%) invert(100%) !important;
}

/* Btn */

.btn-prev {
  position: relative;
  width: 23px;
  height: 16px;

  &::before {
    content: url("../img/iconArrow.svg");
    position: absolute;
    height: 100%;
  }
}

.btn-next {
  position: relative;
  width: 23px;
  height: 16px;

  &::before {
    content: url("../img/iconArrow.svg");
    position: absolute;
    height: 100%;
    transform: rotate(180deg);
  }
}

button[type="submit"] {
  pointer-events: none;
  background-color: $disabled-btn;
}

button[type="submit"].is-active {
  pointer-events: auto;
  background-color: $accent;
  cursor: pointer;
}

.btn {
  border-radius: 6px;
  font-weight: 600;

  &_primary {
    padding: 22px;
    min-width: 280px;
    background-color: $accent;

    &:hover {
      background-color: $accent-hover;
    }

    &:active {
      background-color: $accent-active;
    }

    @include tablet {
      min-width: 230px;
    }
  }

  &_secondary {
    padding: 15px 0;
    min-width: 200px;
    font-size: 14px;
    color: $accent;
    border: 2px solid $accent;

    &:hover {
      border: 2px solid $accent-hover;
      color: $accent-hover;
    }

    &:active {
      border: 2px solid $accent-active;
      color: $accent-active;
    }
  }
}

/* Menu */

.menu {
  display: flex;

  &-link {
    position: relative;
    font-size: 14px;
    color: #fff;

    &::after {
      margin-top: 3px;
      content: "";
      position: absolute;
      display: block;
      left: 0;
      width: 0;
      height: 1px;
      background-color: #fff;
      transition: width .3s ease-out;
    }

    &:hover {
      &::after {
        width: 100%;

        @include tablet {
          width: 0;
        }
      }
    }
  }
}

/* Form */

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox+label {
  display: inline-flex;
  align-items: center;
}

.custom-checkbox+label {
  &::before {
    margin-right: 12px;
    content: "";
    display: inline-block;
    width: 14px;
    height: 14px;
    border-radius: 2px;
    border: 1px solid $muted;
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.custom-checkbox {
  &:checked+label {
    &::before {
      background-image: url("../img/iconCheck.svg");
    }
  }
}